# Example .env file for Kreeda-Ankana development.
# Copy this to .env and customize any paths if necessary.

export JAVA_HOME="/usr/lib/jvm/java-17-openjdk-amd64"
export PATH="$JAVA_HOME/bin:$PATH"

export ANDROID_SDK_ROOT="$HOME/Android/Sdk"
export ANDROID_HOME="$ANDROID_SDK_ROOT"
export ANDROID_SDK_HOME="$HOME/.android"
export ANDROID_AVD_HOME="$ANDROID_SDK_HOME/avd"
export ANDROID_EMULATOR_HOME="$ANDROID_SDK_ROOT/emulator"
export PATH="$PATH:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin:$ANDROID_SDK_ROOT/platform-tools:$ANDROID_EMULATOR_HOME"
